* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

/* Barra de navegação */
.navbar {
  background-color: #ffffff;
  width: 100%;
}

/* Primeira sessão */
.section-1, .section-1-mobile {
  background-image: url(../assets/images/taxi.jpg);
  height: 60vw;
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-1-mobile {
  height: 75vh;
}

.box-1, .box-1-mobile {
  background-color: #f7b617;
  color: white;
  padding: 40px;
  margin-top: 15vh;
}

.box-1-mobile {
  background-color: #f7b617;
  padding: 40px;
  margin-top: 15vh;
  color: white;
}

.title-main-1 {
  font-size: 1.5em;
}

.subtitle-1 {
  font-size: 1.5em;
  display: inline-block;
  margin-top: 20px;
  margin-right: 10px;
}

.btn-register, .btn-become-driver {
  background-color: #ffffff;
  color: #000000;
  font-size: 1.3em;
}

.subtitle-2 {
  font-size: 1rem;
}

.line {
  width: 13vw;
}

/* Segunda sessão */
.section-2, .section-2-mobile {
  background-color: #f7b617;
  color: #ffffff;
}

.box-info {
  width: 80vw;
}

.section-2-mobile h1 {
  font-size: 1.5rem;
  padding-left: 130px;
}

.section-2-mobile h2 {
  font-size: 1.2rem;
}

/* Terceira sessão */
.section-3 {
  background-image: url(../assets/images/conduce.jpg);
  height: 35vw;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.box-3 {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.35);
  height: 35vw;
}

.btn-become-driver-3 {
  color: #ffffff;
  background-color: #f7b617;
}

/* Quarta sessão */
.section-4 {
  background-color: #f7b617;
  color: #ffffff;
  height: 85vh;
}

.section-4-mobile {
  background-color: #f7b617;
  color: white;
}

.form-control {
  background-color: inherit;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.btn-route {
  background-color: #ffffff;
  color: #000000;
}

/* Footer */
footer {
  background-color: #2b2b2b;
  color: #ffffff;
  height: 40vw;
}

hr {
  border-top: 1px solid #ffffff;
}

.item-footer, .icons  {
  color: #ffffff;
}

footer li {
  margin: 15px 0;
}
